.category-filter{
      display: flex;
  gap: 12px;
  margin: 20px 1%;
}
.category-btn{
      padding: 8px 18px;
  border: none;
  background: #f2f2f2;
  border-radius: 8px;
  cursor: pointer;
  transform: background 0.2s ease;
}
.category-btn:hoover{
  background: black;
}