.navbar{
    display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 5%;
  background: #ffffff;
  border-bottom: 1px solid #eee;
}





.navbar-title h1{
   font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.navbar-title p{
font-size: 14px;
  color: gray;
  margin: 2px 0 0 0;
}